<!DOCTYPE html>
<htmk>
<head>
    <title>

    </title>
</head>
<body>
    <main>
        <div
            <h1>Create a new list</h1>
            <form method="POST" action="{% url 'todo_list_create' %}" >
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
