<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <form method="POST">
                {% csrf_token %}
                Are you sure?
                {{ form.as_p }}
                <button>Delete</button>
            </form>
        </div>
    </main>
</body>
</html>
