<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todolist_detail }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todolist_detail.pk %}" >Edit</a>
                <a href="{% url 'todo_list_delete' todolist_detail.pk %}">Delete</a>
                <a href="{% url 'todo_item_create' %}">Add task</a>
                <a href="{% url 'todo_item_update' todolist_detail.pk %}">Update task</a>
            </p>
            <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tasks</th>
                            <th>Due date</th>
                    </thead>
                    <tbody>
                    {% for item in todolist_detail.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>
</body>
</html>
