<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>Update Task</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <button>Update</button>
        </div>
    </main>
</body>
</html>
