<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>Add new task</h1>
            <form method="POST">
                {% csrf_token%}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
