<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for todo in todo_lists %}
                        <td>
                            <a href="{% url 'todo_list_detail' pk=todo.pk %}">{{todo.name}}</a>
                        </td>
                        <td>{{ todo.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
